.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);

  height: 96px; 
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  height: 100%;         
  padding: 0 0;          
  padding-inline: 0;     

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex; align-items: center;
}

.logoImg {
  width: 36px; height: auto; display: block;
}

.menu {
  margin-left: auto;
}
.navList {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navLink {
  padding: 20px 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #28224b;
}

.navLink:hover {
  color: #35b8be;
}


.navLinkActive {
  color: #35b8be;
}


.cartBlock {
  position: relative;       
  margin-left: 40px;
  display: inline-block;     
}


.cart {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;        
}

.cartImg {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;            
  border-radius: 6px;
}

.smallCart {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;             
}


.badge {
  position: absolute;
  z-index: 10;
  top: -10px;      
  right: -10px;     
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  background: #fff;
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  border-radius: 999px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
