.header {
  width: 100%;
  position: fixed;   
  top: 0;
  left: 0;
  background: #fff;  
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.left {
  display: flex; align-items: center;
}

.logoImg {
  width: 36px; height: auto; display: block;
}

.menu {
  margin-left: auto;
}
.navList {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navLink {
  padding: 20px 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #28224b;
}

.navLink:hover {
  color: #35b8be;
}


.navLinkActive {
  color: #35b8be;
}


.cartBlock {
  margin-left: 40px;
} 

.cart {
  position: relative;
  width: 55px;        
  height: 55px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallcart {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  z-index: 10;
  top: -11px;
  right: -12px;

  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;

  background-color: #fff;
  border-radius: 50%;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  box-shadow: 7px 7px 25px 0px #7E828F45;
}


