.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg);
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);

  height: 96px; 
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  height: 100%;         
  padding: 0 0;          
  padding-inline: 0;     

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex; align-items: center;
}

.logoImg {
  width: 36px; height: auto; display: block;
}

.menu {
    display: flex;
  align-items: center;
  margin-left: auto;
}
.navList {
  display: flex;
  align-items: center;
  gap: 32px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navLink {
  padding: 20px 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: var(--text);          
}

.navLink:hover {
  color: var(--accent);
}

.navLinkActive {
  color: var(--accent);
}



.cartBlock {
  position: relative;       
  margin-left: 40px;
  display: inline-block;     
}


.cart {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;        
}

.cartImg {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;            
  border-radius: 6px;
}

.smallCart {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;             
}


.badge {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: -10px;

  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;

  background: var(--surface);  
  color: var(--text);           

  font-weight: 600;
  font-size: 12px;
  border-radius: 999px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}


.themeSelect {
  height: 34px;
  min-width: 90px;
  padding: 0 34px 0 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  color: var(--text);
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 6px;

  cursor: pointer;
  outline: none;

  transition: border-color 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, var(--text) 50%),
    linear-gradient(135deg, var(--text) 50%, transparent 50%);
  background-position:
    calc(100% - 18px) 14px,
    calc(100% - 12px) 14px;
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
}

.themeSelect:hover {
  border-color: var(--accent);
}

.themeSelect:focus-visible {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(111, 106, 248, 0.25); /* можно заменить на var если хочешь */
}




:root[data-theme="dark"] .header {
  box-shadow: 0px 2px 12px rgba(0,0,0,0.4);
}
